main {
    margin-left: 35px;
    margin-top: 35px;
}

html {
    font-family: 'Noto Sans Mono', monospace;
}

#mods {
    display: flex;
    margin-left: 14px;
}

#input-data > * {
    margin-bottom: 7px;
}

#pp {
    margin-left: 135px;
}

input[type=number] {
    width: 23%;
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label {
    background-image: url("mod-icons/EZ.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center; 
    height: 66px;
    width: 68px;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    
    -webkit-transition: background-size 0.2s, -webkit-transform 0.2s;
    transition:         background-size 0.2s, transform 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function:         ease;
}

input[type=checkbox]:checked + label {
    background-size: 100%;
    -webkit-transform: rotate(5deg);
    transform:         rotate(5deg);
}

#EZ + label {
    background-image: url("./mod-icons/EZ.png");
}

#HR + label {
    background-image: url("./mod-icons/HR.png");
}

#HT + label {
    background-image: url("./mod-icons/HT.png");
}

#DT + label {
    background-image: url("./mod-icons/DT.png");
}

#HD + label {
    background-image: url("./mod-icons/HD.png");
}

#FL + label {
    background-image: url("./mod-icons/FL.png");
}